<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.connection.url">jdbc:postgresql://localhost:5432/professional_practice?serverTimezone=UTC</property>
        <property name = "hibernate.connection.username">bohdandb</property>
        <property name = "hibernate.connection.password">root</property>
        <property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name = "hibernate.show_sql">true</property>
        <property name = "hibernate.format_sql">true</property>
        <property name = "hibernate.highlight_sql">true</property>
        <property name = "hibernate.hbm2ddl.auto">update</property>

        <!-- Reference book -->
        <mapping class="org.university.entities.reference_book.AccessRight"/>
        <mapping class="org.university.entities.reference_book.ExecutionStatus"/>
        <mapping class="org.university.entities.reference_book.FileExtension"/>
        <mapping class="org.university.entities.reference_book.Position"/>
        <mapping class="org.university.entities.reference_book.PriorityTask"/>
        <mapping class="org.university.entities.reference_book.StateTesting"/>
        <mapping class="org.university.entities.reference_book.TypeComplexity"/>

        <!-- Table -->
        <mapping class="org.university.entities.tables.BinFileProject"/>
        <mapping class="org.university.entities.tables.CheckList"/>
        <mapping class="org.university.entities.tables.CommandProject"/>
        <mapping class="org.university.entities.tables.CommentTask"/>
        <mapping class="org.university.entities.tables.Document"/>
        <mapping class="org.university.entities.tables.Employee"/>
        <mapping class="org.university.entities.tables.EmployeeAccessRight"/>
        <mapping class="org.university.entities.tables.Project"/>
        <mapping class="org.university.entities.tables.Sprint"/>
        <mapping class="org.university.entities.tables.Task"/>
        <mapping class="org.university.entities.tables.TaskTesting"/>
    </session-factory>
</hibernate-configuration>